@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .masonry {
      column-gap: 0.5em;
      column-count: 2;
    }
    .masonry-sm {
      column-gap: 0.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 0.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
}